<!DOCTYPE html>
<html>  
    <head>
        <title>sigoway_1</title>
        <meta charset="utf-8">
        <script src="../libs/three.js"></script>
        <script src="../libs/jquery-3.1.1.js"></script>
        <script src="../libs/stats.js"></script>
        <style>
            body{
                margin:0;
                overflow:hidden;
            }
        </style>
    </head>
    <body>
        <div id="WebGL-output"></div>
        <div id="Stats-output"></div>
        <script src="../js/section-1.4.js"></script>
        <script src="../js/section-1.5.js"></script>
        <script src="../js/section-1.6.js"></script>
        <script>

            //JQuery 匿名方法, html文档加载完后执行
            $(function(){
                //load14();//section-1.4.js
                //load15();//section-1.5.js
                load16();//section-1.6.js
            });
        </script>
    </body>
</html>