<!DOCTYPE html>
<html>  
    <head>
        <title>section-4</title>
        <meta charset="utf-8">
        <script src="../libs/three.js"></script>
        <script src="../libs/jquery-3.1.1.js"></script>
        <script src="../libs/stats.js"></script>
        <script src="../libs/dat.gui.js"></script>
        <style>
            body{
                margin:0;
                overflow:hidden;
            }
        </style>
    </head>
    <body>
        <div id="WebGL-output"></div>
        <div id="Stats-output"></div>
        <div style="left:0px; top:50px;position:absolute;">
        </div>
        <!--<script src="../js/section5/section-5.1.1.js"></script>-->
        <script src="../js/section5/section-5.1.2.js"></script>
        <script>
            //JQuery 匿名方法, html文档加载完后执行
            $(function(){
            });
        </script>
    </body>
</html>